<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:jpa="http://www.springframework.org/schema/data/jpa"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
					http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
					http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="department" class="com.workforces.entities.Department">
		<constructor-arg value="1"/>
		<constructor-arg value="Transport"/>
		<constructor-arg value="Welcome To Depatement Of Transport"/>
	</bean>

	<bean id="salery" class="com.workforces.embeddables.Salery">
		<constructor-arg value="1000.0"/>
		<constructor-arg value="MAD"/>
	</bean>

	<bean id="fullName" class="com.workforces.embeddables.FullName">
		<constructor-arg value="Saad"/>
		<constructor-arg value=""/>
		<constructor-arg value="Meddiche"/>
	</bean>

	<bean id="employe" class="com.workforces.entities.Employe">
		<constructor-arg value="1"/>
		<constructor-arg ref="fullName"/>
		<constructor-arg ref="salery"/>
	</bean>

	<bean id="employeService" class="com.workforces.services.implementations.EmployeService">
		<constructor-arg ref="employe"/>
		<constructor-arg ref="department"/>
	</bean>



    <!--    dataSource pour definier les infos de la DB -->
    <!-- <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/workforces?createDatabaseIfNotExist=true" />
        <property name="username" value="root" />
        <property name="password" value="" />
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
    </bean> -->

    <!--    EntityManagerFactory pour gérer la persistance des entités -->
    <!-- <bean name="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="org.workforces.entities" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            </props>
        </property>
    </bean> -->

    <!-- <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <tx:annotation-driven />

    <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" /> -->

	<!-- Enable component scanning for your service and repository packages -->
    <!-- <context:component-scan base-package="com.workforces.services.implementations, com.workforces.repositories" /> -->

    <!-- Define your JPA repository bean -->
    <!-- <bean id="employeRepository" class="org.springframework.data.jpa.repository.support.SimpleJpaRepository">
        <constructor-arg name="domainClass" value="com.workforces.entities.Employe" />
        <constructor-arg name="em" ref="entityManagerFactory" />
    </bean> -->

    <!-- Define your service bean and inject the repository -->
    <!-- <bean id="employeServiceWithRepository" class="com.workforces.services.implementations.EmployeService">
        <property name="employeRepository" ref="employeRepository" />
    </bean> -->
	
</beans>